---
import App from "./App.tsx";

const { starterCode, exerciseId, chapterId } = Astro.props;

if (!exerciseId) {
  throw new Error("Missing exerciseId in frontmatter");
}
if (!starterCode) {
  throw new Error("Missing starterCode");
}
---

<div class="interactive-editor">
  <App
    client:load
    starterCode={starterCode}
    exerciseId={exerciseId}
    chapterId={chapterId}
  />
</div>

<style>
  .interactive-editor {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 400px;
  }
</style>
